<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/84b6c7fae4.js" crossorigin="anonymous"></script>
    <!-- link css -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <!-- header import -->
    <header>
        <nav id="header__nav-wrap">
            <!--logo section -->
            <div class="header__nav-logo-wrap">
                <i class="header__nav-logo">
                    <img src="/image/header/Travel-logos_black.png" alt="logo">
                </i>
            </div>
            <!-- menu list -->
            <div class="header__nav-menu-wrap">
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Home</li></a>
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Your Plan</li></a>
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Abouts us</li></a>
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Contact</li></a>
            </div>
            <div class="header__nav-menu-bar"><i class="fa-sharp fa-solid fa-bars"></i></div>
        </nav>
    </header>

    <!-- text-section -->
    <section id="blog__text">
        <h1 class="blog__text-title">Kampot Tourist Attractions</h1>
        <p class="blog__text-paragraph">This province is located in the Southwest of the country, having an eighty kilometres coastal strip with the Gulf of Thailand. The provincial capital is named Kampot and sits near the base of the abundant green Elephant Mountains and the famous Bokor Hill Station. Compete to crowded Sihanoukville in the North of the province you may find quietness. Kep Beach, Rabbit Island, Bokor Hill Station, and countryside tours are perhaps the most popular day tours out of Kampot with tour operators offering very competitively priced tours.
        </p>
    </section>

    <!-- card-section -->
    <section id="blog__card">
        <div class="blog__card-wrap" id="blog__card-wrap">
                <!-- card item1-->
        </div>
    </section>
     <!-- footer section -->
    <section id="home__footer">
        <footer class="home__footer-wrap">
            <div class="home__footer-wrap-left">
                <div class="home__footer-left-logo">
                    <img src="/image/header/Travel-logos_black.png" alt="footer logo">
                </div>
                <div class="home__footer-left-text-wrap">
                    <p class="home__footer-left-text"><a href="#">Home</p></a>
                    <p class="home__footer-left-text"><a href="#">Trip</p></a>
                    <p class="home__footer-left-text"><a href="#">Popular Place</p></a>
                </div>
            </div>

            <div class="home__footer-wrap-mid">
                <p class="home__footer-mid-title"><a href="#">Abouts</p></a>
                <p class="class__footer-mid-text">This website this our school project for term 3.
                    We armed to provide an information of interesting 
                    places in cambodia either local and forener.
                    our aspec is to make this site look clean and easy 
                    to follow.Hope you enjoy it.
                    </p>
            </div>

            <div class="home__footer-wrap-right">
                <p class="home__footer-right-title"><a href="#">Contact</p></a>
                <p class="home__footer-right-text"><a href="#">info@gmail.com</p></a>
                <p class="home__footer-right-text"><a href="#">facebook</p></a>
                <p class="home__footer-right-text"><a href="#">telegram</p></a>
            </div>
        </footer>
    </section>


    <script src="/scripte/list blog.js"></script>    
    <script src="/scripte/blog.js"></script>
    <script src="/scripte/header.js"></script>
    
</body>