<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/variable.css">
</head>
<body>
    <section id="home__footer">
        <footer class="home__footer-wrap">
            <div class="home__footer-wrap-left">
                <div class="home__footer-left-logo">
                    <img src="/image/header/Travel-logos_black.png" alt="footer logo">
                </div>
                <div class="home__footer-left-text-wrap">
                    <p class="home__footer-left-text"><a href="#">Home</p></a>
                    <p class="home__footer-left-text"><a href="#">Trip</p></a>
                    <p class="home__footer-left-text"><a href="#">Popular Place</p></a>
                </div>
            </div>

            <div class="home__footer-wrap-mid">
                <p class="home__footer-mid-title"><a href="#">Abouts</p></a>
                <p class="class__footer-mid-text">This website this our school project for term 3.
                    We armed to provide an information of interesting 
                    places in cambodia either local and forener.
                    our aspec is to make this site look clean and easy 
                    to follow.Hope you enjoy it.
                    </p>
            </div>

            <div class="home__footer-wrap-right">
                <p class="home__footer-right-title"><a href="#">Contact</p></a>
                <p class="home__footer-right-text"><a href="#">info@gmail.com</p></a>
                <p class="home__footer-right-text"><a href="#">facebook</p></a>
                <p class="home__footer-right-text"><a href="#">telegram</p></a>
            </div>
        </footer>
    </section>

</body>
</html>