<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">  
    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/84b6c7fae4.js" crossorigin="anonymous"></script>  
    <!-- script link -->
    <script href="herder.js"></script>
    <!-- link css -->
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/variable.css">
</head>
<body>
    <header>
        <nav id="header__nav-wrap">
            <!--logo section -->
            <div class="header__nav-logo-wrap">
                <i class="header__nav-logo">
                    <img src="../image/header/Travel-logos_black.png" alt="logo">
                </i>
            </div>
            <!-- menu list -->
            <div class="header__nav-menu-wrap">
                    <a href="/html/home.html" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Home</li></a>
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Your Plan</li></a>
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Abouts us</li></a>
                    <a href="#" class="header__nav-menu-link"><li class="header__nav-menu-link-list">Contact</li></a>
            </div>
            <div class="header__nav-menu-bar"><i class="fa-sharp fa-solid fa-bars"></i></div>
        </nav>
    </header>

    <script src="../scripte/header.js"></script>
</body>
</html>